.container {
  background-color: rgb(29, 18, 83);
  height: 100vh;
}

.tabBar {
  background-color: white;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;

  font-size: larger;
}

.goBackBtn {
  background-image: url("../assets/left.png");
  width: 50px;
  height: 50px;
  background-repeat: round;
  border: 0px;
  background-color: white;
  color: rgb(29, 18, 83);
}
.spacer {
  width: 70px;
  height: 50px;
}

.contents {
  /* color: rgb(241, 227, 31); */
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  color: white;
}

.message {
  /* margin-bottom: 5vh; */
  font-size: larger;
}

.micBtn {
  background-image: url("../assets/mic.png");
  background-position: center;
  background-repeat: no-repeat;

  width: 150px;
  height: 150px;
  padding: 90px;
  border-radius: 75px;
}

.storeBtn {
  height: 15vh;
  width: 40vh;
  font-size: 150%;
  border-radius: 8vh;
}
