.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  background-color: rgb(29, 18, 83);
}

.orderContainer {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

button {
  margin: 10px !important;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;

  font-size: larger;
}

.orderBtn {
  width: 50vh;
  height: 15vh;
  border-radius: 8vh;
  font-size: xx-large;
}

.Btn {
  width: 50vh;
  height: 10vh;
  border-radius: 5vh;
}
